h1 {font-family:Perfect Dark BRK, sans-serif;
color: green;
 background-image:url(http://reptilesofaustralia.com/lizards/geckos/nmill.jpg);
 font-size:60px;
 border:2px solid blue;
 text-align:center;
 height:150px;
 width: 600px;
}                       
body{
     background-color:orange;
}
p{
   font-family:Courier;
   color: blue;
   font-size: 20px;
   font-weight:bold;
}
a{
      text-decoration: none;
      color: yellow;
      font-family:cursive;
      font-size:20px;
}
img{
    height:300px;
    width:300px;
    border:4px solid yellow;
}
iframe{
       border:4px solid blue;
}
div{
    border-color:red;
    border-style:solid;
    border-radius:10px;
    text-align:center;
    height:60px;
    width:200px;
    background-color:blue;
    margin:auto;
}
span>div{
     background-color:green;
     border-color:blue;
}
p>span{
        background-color:blue;
        border:3px dotted red;
        color:blue;
}
span > img{
           height:250px;
           width:400px;
}
